body {
  font-size: 14px;
}
body, h1, h2, h3, h4, h5, h6 {
  font-family: helvetica, arial, sans-serif;
}
.container {
  max-width: 900px;
  color: #255A75;
}
.container-alternate {
  background: url(../img/bg2.jpg) 50% 0 repeat fixed; min-height: 320px;
}
.subhead {
  font-size: 2em;
  text-align: center;
  margin: 1em 0 0.5em;
}
.benefits {
  margin-bottom: 3em;
}
.benefit {
  margin: 1em 0;
  text-align: center;
}
.benefit .benefit-ball {
  background: #f0f0f0;
  border-radius: 50%;
  color: #333;
  display: inline-block;
  line-height: 1em;
  padding: 3em;
}
.benefit .benefit-ball .glyphicon {
  font-size: 3em;
  position: relative;
  top: -3px;
  right: 1px;
}
.benefit h3 {
  font-size: 1.5em;
}
#tour {
  margin: 1em 0 4em;
}
#tour .carousel-inner img {
  height: 500px;
  width: 100%;
}
.faqs {
  margin-bottom: 3em;
}
.faqs p {
  line-height: 1.5em;
  margin: 1.2em 0;
}
.about p {
  line-height: 1.5em;
  margin: 1em 0;
}
.about p:last-child {
  margin-bottom: 4em;
}
footer {
  background: #111;
  color: #fff;
  padding: 1.5em 0 0.8em;
}
@media screen and (max-width: 768px) {
  .navbar ul.nav li {
    text-align: center;
  }
  .navbar ul.nav li button {
    margin: 1em 0;
  }
  .jumbotron {
    font-size: 14px;
    padding: 6em 0 4em;
  }
  .benefit {
    margin-bottom: 2em;
  }
}
@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }
  .jumbotron {
    font-size: 12px;
  }
  footer .pull-right {
    display: none;
  }
}
